* {
	margin:0;
	padding:0;
	font-family: sans-serif;
}
body{
	margin:0;
	padding:0;
    }   
a:link, a:visited{
    color:#fff;
    text-decoration:none;
} 
.hd-menuline{
    width:90%;
    height: 35px;
    text-align: right;
    padding: 5px;
    padding-right: 10%;
    background-color: #f1f1f1;
}
.hd-menuline li{
    display: inline-block;
    padding: 10px 20px;
}
.hd-menuline p{
    font-size: 0.8em;
    color: #696969;
}
.hd-titlearea{
    width: 100%;
    height: 100px;
    background-color: #f1f1f1;
}
.hd-titlep{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 3px;
    color: #000000;
    width: 200px;
    margin: 0px auto;
    padding: 30px;
}
nav {
    position: relative;
    width:100%;
    height: 50px;
    text-align: center;
    padding: 5px;
    background-color: #fff;
}
nav ul{
    max-width: 1200px;
    margin: 0 auto;
}
nav ul li{
    display: inline-block;
    padding: 10px 10px;
}
nav ul li p{
    font-size: 0.9em;
    color:#000;
}
.font-bold{
    font-weight: bold;
}

.sch-form{
    display: block;
    width: 170px;
}
fieldset {
    background: transparent;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
}
legend{
    display: none;
}
.search-box{
    width:135px;
    height: 20px;
    border: 0;
    margin-top: 8px;
    font-size: 12px;
    color: #000;
}
fieldset img{
    width: 15px;
    height: 15px;
}
input:focus{
    outline: none;
}